.Rproj.user/31CC996C/sdb/prop/5BBC387B
.Rproj.user/31CC996C/sdb/prop/5FDDAC5F
.Rproj.user/31CC996C/sdb/s-DB88BCC1/lock_file
.Rproj.user/31CC996C/sdb/prop/INDEX
.Rproj.user/31CC996C/sdb/s-DB88BCC1/162A3EF9
activity.csv
.Rproj.user/31CC996C/sdb/s-DB88BCC1/C2C58E0A
.Rproj.user/31CC996C/sdb/prop/7F0A55A8